<!doctype html>
<html lang="en" style="background-color: white;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Tiempo de respuesta</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="styles.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body class="text-center">
    <h1 class="oculto"><%=tiempoDeImagen%></h1>
    <h1 class="oculto"><%=ProbabilidadVerde%></h1>
    <h1 class="oculto"><%=tiempoDeFondo%></h1>
    <h1 class="oculto"><%=numeroDeImagenes%></h1>
    <h1 class="oculto"><%=color%></h1>
    <h1 class="oculto"><%=nombre%></h1>
    <h1 class="oculto"><%=tecla%></h1>

    <form method="POST" action="/exit" class="form-signin formpadding">
        <div class="custom">
            <img class="mb-4" src="images/caad.jpeg" alt="" width="180" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Instrucciones</h1>
            <div class="instruccionesParrafo">
                <p style="margin-bottom: 0;">Una vez rellenado sus datos y haberle dado en el botón <em>Empezar</em>
                    aparecerán una serie de
                    imagenes en
                    donde
                    debe reaccionar al color </p>
                <% if (color =='verde'){ %>
                <div class="circulo1" style="background-color:green;">
                    <%} else if(color == 'rojo'){ %>
                    <div class="circulo1" style="background-color:red;"></div>
                    <% }; %>

                </div>
                <% if (tecla == " "){ %>
                <p>Para ello, debe pulsar la tecla <em>Espacio</em> <strong>solo</strong> cuando
                    aparezca el color especificado.
                    <strong>Asegurese de tener mayúsculas desactivadas.</strong>
                </p>
                <% } else {  %>
                <p>Para ello, debe pulsar la tecla <em>"<%=tecla%>"</em> <strong>solo</strong> cuando
                    aparezca el color especificado.
                    <strong>Asegurese de tener mayúsculas desactivadas.</strong>
                </p>
                <% } %>
            </div>
            <div class="custom">
                <h1 class="h3 mb-3 font-weight-normal">Ingrese sus datos</h1>
                <input type="text" id="nombre" name="Nombres" class="form-control top" placeholder="Nombres" required
                    autofocus>
                <input type="text" id="apellido" name="Apellidos" class="form-control middle" placeholder="Apellidos"
                    required>
                <input type="number" id="edad" name="Edad" class="form-control middle" placeholder="Edad" required>

                <select name="GrupoSanguineo" id="gSanguineo" class="form-control middle" required autofocus>
                    <option value="" disabled selected>Grupo Sanguineo</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <a class="btn btn-lg btn-primary btn-block" style="margin-left: 0;" href="#circulo"
                    role="button">Empezar</a>
            </div>
            <div class="custom">
                <p class="mt-5 mb-3 text-muted">&copy; EMBS IEEE UNorte</p>
            </div>

        </div>

        <section id="juego">
            <div class="contenedorJuego oculto">
                <br>
                <div id="circulo">
                    <h1 class="aviso hideDisplay">Respuesta invalidada. No presione</h1>
                </div>
            </div>

        </section>
        <section class="oculto" id="bye">
            <div class="bye">
                <input id="bot" class="btn btn-primary" type="submit">
            </div>
        </section>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="aplicativo.js"></script>
</body>

</html>