<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profesor</title>
    <link rel="stylesheet" href="styles2.css">
</head>

<body>
    <table>
        <tr>
            <td> Probabilidad Verde </td>
            <td> Tiempo Del estímulo </td>
            <td> Tiempo entre estímulos </td>
            <td> Numero de Imagenes </td>
            <td> Color a reaccionar </td>
            <td> Nombre de Prueba </td>
        </tr>
        <% results.forEach(function(element){ %>
        <tr>
            <td><%= element.ProbabilidadVerde%> </td>
            <td><%= element.TiempoDeImg%> </td>
            <td><%= element.TiempoDeFondo%> </td>
            <td><%= element.NumeroDeImg%> </td>
            <td><%= element.Color%> </td>
            <td><%= element.Nombre%> </td>
        </tr>
        <% }) %>
    </table>
    <hr>
    <h1>Indicaciones</h1>
    <br>
    <h2>Probabilidad Verde</h2>
    <p style="width: 1000px;">Establece la probabilidad del color verde. Se debe colocar un número enterio y solo un
        número.
        Al indicar la
        probabilidad del color verde, también se está indicando la del color rojo.
        Porque de forma implícita si la
        probabilidad del color verde es de 10%, la del rojo será del 90%. Ejemplo: 1=
        10%, 2=20%</p>
    <h2>Tiempo del estímulo</h2>
    <p>Indica el tiempo de duración del estímulo. Solo se aceptan valores enteros y ya está en segundos</p>
    <h2>Tiempo entre estímulos</h2>
    <p>Indica el tiempo de duración entre estímulos. Solo se aceptan valores enteros y ya está en segundos</p>
    <h2>Número de Imagenes</h2>
    <p>Establece el número de estímulos que aparecerán en la prueba</p>
    <h2>Color a reaccionar</h2>
    <p>Debe escribir "verde" o "rojo", sin espacios antes o después de la palabra. Ejemplo:rojo</p>
    <h2>Nombre de la prueba</h2>
    <p>Este es el nombre que quiera darle a la prueba. Puede escribir lo que sea en ella</p>
    <hr>
    <h1>Establecer nuevos parámetros</h1>
    <form method="POST" action="/prof">
        <input placeholder="Probabilidad del verde" name="probabilidadVerde" type="number">
        <input placeholder="Tiempo Del estímulo" name="tiempoDeImg" type="number">
        <input placeholder="Tiempo entre estímulos" name="tiempoDeFondo" type="number">
        <input placeholder="Numero de Imagenes" name="numeroDeImg" type="number">
        <input placeholder="Color a reaccionar" name="color" type="text">
        <input placeholder="Nombre de Prueba" name="nombre" type="text">
        <button type="submit">Establecer</button>
    </form>
    <br>
    <br>
    <br>

</body>

</html>