<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profesor</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="styles2.css">
</head>

<body>
    <form action="/prof" method="post">
        <table>
            <tr>
                <td> Probabilidad Verde </td>
                <td> Tiempo Del estímulo </td>
                <td> Tiempo entre estímulos </td>
                <td> Numero de Imagenes </td>
                <td> Color a reaccionar </td>
                <td> Nombre de Prueba </td>
            </tr>
            <% results.forEach(function(element){ %>
            <tr>
                <td><%= element.ProbabilidadVerde%> </td>
                <td><%= element.TiempoDeImg%> </td>
                <td><%= element.TiempoDeFondo%> </td>
                <td><%= element.NumeroDeImg%> </td>
                <td><%= element.Color%> </td>
                <td><%= element.Nombre%> </td>
            </tr>
            <% }) %>
        </table>
        <hr>
        <h1>Indicaciones</h1>
        <br>
        <h2>Probabilidad Verde</h2>
        <p style="width: 1000px;">Establece la probabilidad del color verde. Se debe colocar un número enterio y solo un
            número.
            Al indicar la
            probabilidad del color verde, también se está indicando la del color rojo.
            Porque de forma implícita si la
            probabilidad del color verde es de 10%, la del rojo será del 90%. Ejemplo: 1=
            10%, 2=20%</p>
        <h2>Tiempo del estímulo</h2>
        <p>Indica el tiempo de duración del estímulo. Solo se aceptan valores enteros y ya está en segundos</p>
        <h2>Tiempo entre estímulos</h2>
        <p>Indica el tiempo de duración entre estímulos. Solo se aceptan valores enteros y ya está en segundos</p>
        <h2>Número de Imagenes</h2>
        <p>Establece el número de estímulos que aparecerán en la prueba</p>
        <h2>Color a reaccionar</h2>
        <p>Debe escribir "verde" o "rojo", sin espacios antes o después de la palabra. Ejemplo:rojo</p>
        <h2>Nombre de la prueba</h2>
        <p>Este es el nombre que quiera darle a la prueba. Puede escribir lo que sea en ella</p>
        <hr>
        <h1>Establecer nuevos parámetros</h1>
        <!-- ------------------------>
        <div class="form-group">
            <label>Nombre de la prueba:</label>
            <input type="text" name="nombre" class="form-control">
        </div>
        <div class="form-group">
            <label style="padding-right:10px;">Color de reacción: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="color" id="inlineRadio1" value="rojo">
                <label class="form-check-label" for="inlineRadio1">Rojo</label>
                <input style="margin-left:10px;" class="form-check-input" type="radio" name="color" id="inlineRadio2"
                    value="verde">
                <label class="form-check-label" for="inlineRadio2">Verde</label>
            </div>
        </div>
        <div class="form-group">
            <label>Probabilidad:</label>
            <select class="form-control" name="probabilidadVerde" id="">
                <option value="" disabled selected>Escoja la posibilidad de cada color</option>
                <option value=0>0% Verde - 100% Rojo</option>
                <option value=1>10% Verde - 90% Rojo</option>
                <option value=2>20% Verde - 80% Rojo</option>
                <option value=3>30% Verde - 70% Rojo</option>
                <option value=4>40% Verde - 60% Rojo</option>
                <option value=5>50% Verde - 50% Rojo</option>
                <option value=6>60% Verde - 40% Rojo</option>
                <option value=7>70% Verde - 30% Rojo</option>
                <option value=8>80% Verde - 20% Rojo</option>
                <option value=9>90% Verde - 10% Rojo</option>
                <option value=10>100% Verde - 0% Rojo</option>
            </select>
        </div>
        <div class="form-group">
            <label>Tiempo de estimulo (segundos)</label>
            <input class="form-control" name="tiempoDeImg" type="number" min="1" pattern="^[0-9]+">
        </div>
        <div class="form-group">
            <label>Tiempo entre estímulos (segundos)</label>
            <input class="form-control" name="tiempoDeFondo" type="number" min="1" pattern="^[0-9]+">
        </div>
        <div class="form-group">
            <label>Número de imagenes</label>
            <input class="form-control" name="numeroDeImg" type="number" min="1" pattern="^[0-9]+">
        </div>
        <div class="form-group">
            <label style="padding-right:10px;">Tecla: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tecla" id="inlineRadio1" value=" ">
                <label class="form-check-label" for="inlineRadio1">Espacio</label>
                <input style="margin-left:10px;" class="form-check-input" type="radio" name="tecla" id="inlineRadio2"
                    value="otra">
                <label class="form-check-label" for="inlineRadio2">Otra</label>
                <input class="form-control" style="width: 200px;" type="text" name="otratecla"
                    placeholder="Sin espacios y en minúscula">
            </div>
        </div>
        <button type="submit" class="btn btn-info">Establecer</buton>
    </form>
</body>

</html>